.portolio-button-link  {
	color: #767676;
}

.portolio-button-link:hover {
	color: #000000;
}

.ui.light-grey.segment {
	background: #e5e5e5;
	border-radius: .28571429rem
}

.kube-control-typeface {
	font-family: 'Shrikhand', cursive;
	font-weight: lighter;
	letter-spacing: 2px;
   font-size: 2rem;
	color: #FFF;
	margin-top: 5px;
}

.kube-control-typeface .subhead {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: normal;
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.floating-button-group {
	float: right;
	margin-top: 5px;
}

p.secondary {
	color: #666;
}

@media only screen and (max-width: 768px) {
	.floating-button-group {
		float: none;
	}
}
